<h1> <%=@movie.title%></h1>
<ol>
	<li><label for="description">Description: </label>
	<%= @movie.description%></li>
	<li><label for="genre">Genre: </label>
	<%= @movie.genre%></li>
	<li><label for="release_date">Release Date: </label>
	<%= @movie.release_date%></li>
	<li><label for="run_time">Run Time: </label>
	<%= @movie.run_time%> minutes</li>

	<p>
	<% @movie.characters.each do |character| %>
		<%= character.name %>
	<% end %>
	</p>
	<li>
		<form action="/movies" method="get">
	   		<input type="submit" value="Return to homepage"
	         name="Submit" id="frm1_submit" />
		</form>
	</li>
	<li>
		<input type="button"><a href="/movies/<%=@movie.id%>/edit">Edit this movie</a></button>
	</li>
	<li>
		<form action="/movies/<%=@movie.id%>" method="POST">
			<input type="hidden" name="_method" value="DELETE">
	   		<input type="submit" value="Delete Movie"
	         name="Submit" />
		</form>
	</li>
</ol>
