<h1> <%=@movie.title%></h1>
<ol>
	<li><label for="description">Description: </label>
	<%= @movie.description%></li>
	<li><label for="genre">Genre: </label>
	<%= @movie.genre%></li>
	<li><label for="release_date">Release Date: </label>
	<%= @movie.release_date%></li>
	<li><label for="run_time">Run Time: </label>
	<%= @movie.run_time%> minutes</li>

	<p>
	<% @movie.characters.each do |character| %>
		<%= character.name %>
	<% end %>
	</p>
	<li>
		<a href="/movies/<%=@movie.id%>/edit">Edit this movie</a>
		<a href="/movies">Home Page</a>
	<li>
		<form action="/movies/<%=@movie.id%>" method="POST">
			<input type="hidden" name="_method" value="DELETE">
	   		<input type="submit" value="Delete Movie"
	         name="Submit" />
		</form>
	</li>
</ol>

<h2> Below are the list of <%=@movie.title %>'s actors</h2>
	<% @movie.characters.each do |character| %>
		<li><a href="/actors/<%= character.actor.id%>"> <%=character.actor.name%> </li>
		<%end%>

		


